<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <style>
        body        { padding-top:80px; }
        .hidden {
            display: none;
        }

        .show {
        display: block;
        }
        
        form.ng-submitted .ng-invalid
        {
            border:1px solid #f00;
        }
        
        .profile {
            text-align: center;
            margin: 0 auto;
            display: none;
        }
    </style>
</head>
<body>
  
    <div class="container" ng-app="final" ng-controller="LoginController">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="fa fa-sign-in"></span> Login</h1>

            <!-- LOGIN FORM -->
            <form name="loginForm" ng-submit="loginForm.$valid && loginUser()" novalidate ng-show="{{!loggedIn}}">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" ng-model="user.email" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" ng-model="user.password" required>
                </div>
                <div class="{{activeStatus}} alert alert-danger">Invalid credentials</div>
                <br />
                <button type="submit" class="btn btn-warning btn-lg">Login</button>
                
            </form>
            <div class="row profile" ng-show="{{loggedIn}}">
                <h1>You're logged in!</h1>
                <a class="btn btn-success" href="/profile">Continue to Profile</a>
            </div>
            <hr>

            <p>Need an account? <a href="/signup">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
          </div>
        </div>
    </div>
</body>
</html>